#BeginRecognition {
    padding: 10px 20px;
    width: 180px;
    font-size: 16px;
    background-color: #38e08c;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

#TextDetection {
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: #ffffff;
}

#GPTAnswer {
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: #ffffff;
    white-space: pre-wrap;
    overflow-y: auto;
    max-height: 100%;
    text-align: right;
    display: block;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#GPTAnswer::-webkit-scrollbar {
  width: 10px;
}

#GPTAnswer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#GPTAnswer::-webkit-scrollbar-thumb {
  background: #888;
}

#GPTAnswer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.prompt {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  background-color: #38e08c;
  padding: 10px 20px;
  border-radius: 18px;
  margin: 5px;
  display: inline-block;
  max-width: 80%;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  width: fit-content;
}

.answer {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 18px;
  margin: 5px;
  display: inline-block;
  max-width: 80%;
  white-space: pre-wrap;
  word-wrap: break-word;
  align-self: flex-end;
  width: fit-content;
}

#voiceSelect {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #59f731;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 10px;
  background-color: #3d3333;
  color: #ffffff;
  align-self: flex-end
}

.container {
    display: flex;
    height: 95vh;
  }
  
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%; /* Adjust as needed */
    margin-right: 10px;
  }
  
  .right {
    width: 60%; /* Adjust as needed */
  }
  
  .top {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #3d3333; /* Set the background color of the top div */
    padding: 10px; /* Add padding */
    border-radius: 10px; /* Round the borders */
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 30%;
}
  
.bottom {
    flex-grow: 0;
    height: 500px;
    margin-top: 10px;
    background-color: #322a2a; /* Set the background color of the bottom div */
    padding: 1rem; /* Add padding */
    border-radius: 10px; /* Round the borders */
    width: 80%;;
}