#BeginRecognition {
    padding: 10px 20px;
    width: 180px;
    font-size: 16px;
    background-color: #00cd67;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

#TextDetection {
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: #ffffff;
}

#GPTAnswer {
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: #ffffff;
    white-space: pre-wrap;
}

#voiceSelect {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #59f731;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 10px;
  background-color: #3d3333;
  color: #ffffff;
  align-self: flex-end
}

.container {
    display: flex;
    height: 95vh;
  }
  
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; /* Adjust as needed */
    margin-right: 10px;
  }
  
  .right {
    width: 70%; /* Adjust as needed */
  }
  
  .top {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #3d3333; /* Set the background color of the top div */
    padding: 10px; /* Add padding */
    border-radius: 10px; /* Round the borders */
    align-items: center;
    justify-content: center;
    width: 90%;
}
  
.bottom {
    flex-basis: 50%; /* Adjust as needed */
    background-color: #3d3333; /* Set the background color of the bottom div */
    padding: 4rem; /* Add padding */
    border-radius: 10px; /* Round the borders */
    width: 50%;
}